@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .border-mid {
        border-width: 1.5px;
    }
}

.code-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.code-scrollbar::-webkit-scrollbar-track {
  background: #dbeafe;
  cursor: pointer;
}

.code-scrollbar::-webkit-scrollbar-thumb {
  background: #60a5fa;
  border-radius: 4px;
  cursor: pointer;
}

.code-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #3b82f6;
}